.sitename{text-align:center;}
.post{}
.title{
    color:#000;
    text-decoration: none;}
.button_menu{
    color: #000;
    text-decoration: none;
    border:1px solid dodgerblue;
    padding:5px;
    margin:5px;
    border-radius:5px;
}
a{text-decoration: none;}
.meniu{text-align:center;}
.content{
    margin: auto;
    width: 350px;
    margin-top: 45px !important;
    border: 1px solid dodgerblue;
    text-align: center;
    border-radius: 5px;
}
.description{
    height: 150px;
    padding:0px;
}